*{
  font-family: 'Mansalva', cursive;
  font-size: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  background-image: url('../image/voie-lactee.jpg');
  width: 100vw;
  height: 20vw;
  text-align: center;
}

.Logo {

  background-image: url("../image/logo.jpg");
  border-radius: 50%;
  height: 15vw;
  margin: auto;
  margin: 2vw;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0;
  margin-left: 0;

}

.list-menu-header {
  display: flex;
  align-items: flex-start;
}

.listmenu {
  display: flex;
  flex-direction: row;
}

li, a link {
  width: 200px;
  color: white;
  color: #111111;
  text-align: center;
  }

h1 {
  font-family: OCR A Std, monospace;
}

.titleHeader{
  color: #111111;
  text-align: center;
 }

  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  .mainImage{
      align-self: center;
    background-image: url("../image/alien-2-zone51.jpg");background-repeat: no-repeat;
    position: center;
    border-radius: 50%;
    width: 80vw;
    margin-top: 1vw;
    padding-top: 1vw;
    padding-bottom: 0;
    margin-left:  5vw;
    margin-right: 5vw;
    margin-bottom: 0;
    height: 900px;
  }
.mainImage3{
    background-image: url("../image/zone-51-hd.jpg");
    background-repeat: no-repeat;
    position: bottom;
    border-radius: 50%;
    width: 80vw;
    margin-top: 15vw;
    padding-top: 5vw;
    padding-bottom: 0;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 0;
    height: 80vw;
}

  .ovni{
    background-image: url("../image/ovni.jpg");
    width: 10vw;
    height; 200px;
  }

